.home {
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
}

.main-content {
  position: relative;
  height: 100vh;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--text-color);
  padding: 0 1rem;
}

.nav h1 {
}

.menu-toggle {
  z-index: 100;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
